In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [6]:
pwd = os.getcwd()
df = pd.read_csv(pwd + '/dollar1.csv')
df

            DATE  DTWEXBGS
0     2019-06-14  115.9059
1     2019-06-17  115.9687
2     2019-06-18  115.8798
3     2019-06-19  115.7891
4     2019-06-20  114.8046
...          ...       ...
1301  2024-06-10  124.2232
1302  2024-06-11   124.345
1303  2024-06-12  124.1411
1304  2024-06-13  124.3287
1305  2024-06-14  124.4755

[1306 rows x 2 columns]